gpsParser/gpsParser.suo
gpsParser/gpsParser.sln
gpsParser/gpsParser/bin/Debug/gpsParser.vshost.exe
gpsParser/gpsParser/bin/Debug/gpsParser.vshost.exe.manifest
gpsParser/gpsParser/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
